<!DOCTYPE hmtl>
<html lang="en">

    <%include partials/head %>

    <body>
        <% include partials/navbar %>

        <section id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <% include partials/navigation %>
                    </div>

                    <div class="col-md-9">
                        <!-- Website Overview -->
                        <div class="panel panel-default">
                            <div class="panel-heading main-color-bg">
                                <h3 class="panel-title">Create New Advisement</h3>
                            </div>

                            <div class="panel-body">
                                <form action="/createAdvisement" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="inputTitle">Title</label>
                                        <input type="text" class="form-control" name="title"<% if(advisement && advisement.title) { %>value='<%= advisement.title %>'<% } %>>
                                        <% if(advisement && !advisement.title) { %><font style="color: red">Title required</font><% } %>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputImage">Image</label>
                                        <input type="file" name="imageUpload" class="form-control-file" id="fileuploadbtn">
                                    </div>    
            
                                    <div class="form-group">
                                        <label for="inputDescription">Description</label>
                                        <textarea type="text" class="form-control" name="description"><% if(advisement && advisement.description) { %><%= advisement.description %><% } %></textarea>
                                    </div>      
                                    
                                    <div class="form-group">
                                        <label>Start Date</label>
                                        <input type="date" class="form-control" name="startDate"<% if(advisement && advisement.startDate) { %>value='<%= advisement.startDate %>'<% } %>>
                                        <% if(advisement && !advisement.startDate) { %><font style="color: red">Start Date required</font><% } %>
                                    </div>   

                                    <div class="form-group">
                                        <label>End Date</label>
                                        <input type="date" class="form-control" name="endDate"<% if(advisement && advisement.endDate) { %>value='<%= advisement.endDate %>'<% } %>>
                                        <% if(advisement && !advisement.endDate) { %><font style="color: red">End Date required</font><% } %>
                                        <% if(advisement && !advisement.dateCheck) { %><br><font style="color: red">End Date must come after Start Date</font><% } %>
                                    </div>  

                                    <div class="form-group">
                                        <label>Daily Start Time</label>
                                        <input type="time" class="form-control" name="startTime"<% if(advisement && advisement.startTime) { %>value='<%= advisement.startTime %>'<% } %>>
                                        <% if(advisement && !advisement.startTime) { %><font style="color: red">Start Time required</font><% } %>
                                    </div>  

                                    <div class="form-group">
                                        <label>Daily End Time</label>
                                        <input type="time" class="form-control" name="endTime"<% if(advisement && advisement.endTime) { %>value='<%= advisement.endTime %>'<% } %>>
                                        <% if(advisement && !advisement.endTime) { %><font style="color: red">End Time required</font><% } %>
                                        <% if(advisement && !advisement.timeCheck) { %><br><font style="color: red">End Time must come after Start Time</font><% } %>
                                    </div>  

                                    <div class="form-group">
                                        <label>Applicable Days</label><br>
                                        <input type="checkbox" name="monday" value="true" <% if(!advisement || advisement.monday) { %>checked<% } %>> Monday<br>
                                        <input type="checkbox" name="tuesday" value="true" <% if(!advisement || advisement.tuesday) { %>checked<% } %>> Tuesday<br>
                                        <input type="checkbox" name="wednesday" value="true" <% if(!advisement || advisement.wednesday) { %>checked<% } %>> Wednesday<br>
                                        <input type="checkbox" name="thursday" value="true" <% if(!advisement || advisement.thursday) { %>checked<% } %>> Thursday<br>
                                        <input type="checkbox" name="friday" value="true" <% if(!advisement || advisement.friday) { %>checked<% } %>> Friday<br>
                                        <input type="checkbox" name="saturday" value="true"<% if(advisement && advisement.saturday) { %>checked<% } %>> Saturday<br>
                                        <input type="checkbox" name="sunday" value="true" <% if(advisement && advisement.sunday) { %>checked<% } %>> Sunday<br>
                                        <% if(!atLeastOne) { %><font style="color: red">At least one day must be checked</font><% } %>
                                    </div>
                            </div>

                            <div class="panel-footer">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>

                                <form action="/manage" method="get">
                                    <button type="submit" class="btn btn-primary">Back</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>